.flex-box {
  display: -webkit-box;
  display: -ms-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-box>.flex-align--auto {
  -ms-flex-item-align: auto;
  flex-item-align: auto;
  -webkit-align-self: auto;
  -ms-align-self: auto;
  align-self: auto;
}

.flex-box>.flex-align--start {
  -ms-flex-item-align: flex-start;
  flex-item-align: flex-start;
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
}

.flex-box>.flex-align--end {
  -ms-flex-item-align: flex-end;
  flex-item-align: flex-end;
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
}

.flex-box>.flex-align--center {
  -ms-flex-item-align: center;
  flex-item-align: center;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
}

.flex-box>.flex-align--baseline {
  -ms-flex-item-align: baseline;
  flex-item-align: baseline;
  -webkit-align-self: baseline;
  -ms-align-self: baseline;
  align-self: baseline;
}

.flex-box>.flex-align--stretch {
  -ms-flex-item-align: stretch;
  flex-item-align: stretch;
  -webkit-align-self: stretch;
  -ms-align-self: stretch;
  align-self: stretch;
}

.flex-order--n-1 {
  -webkit-box-ordinal-group: 0;
  -ms-box-ordinal-group: 0;
  box-ordinal-group: 0;
  -ms-flex-order: -1;
  -webkit-order: -1;
  -ms-order: -1;
  order: -1;
}

.flex-order--n0 {
  -webkit-box-ordinal-group: 1;
  -ms-box-ordinal-group: 1;
  box-ordinal-group: 1;
  -ms-flex-order: 0;
  -webkit-order: 0;
  -ms-order: 0;
  order: 0;
}

.flex-order--n1 {
  -webkit-box-ordinal-group: 2;
  -ms-box-ordinal-group: 2;
  box-ordinal-group: 2;
  -ms-flex-order: 1;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
}

.flex-order--n2 {
  -webkit-box-ordinal-group: 3;
  -ms-box-ordinal-group: 3;
  box-ordinal-group: 3;
  -ms-flex-order: 2;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
}

.flex-order--n3 {
  -webkit-box-ordinal-group: 4;
  -ms-box-ordinal-group: 4;
  box-ordinal-group: 4;
  -ms-flex-order: 3;
  -webkit-order: 3;
  -ms-order: 3;
  order: 3;
}

.flex-order--n4 {
  -webkit-box-ordinal-group: 5;
  -ms-box-ordinal-group: 5;
  box-ordinal-group: 5;
  -ms-flex-order: 4;
  -webkit-order: 4;
  -ms-order: 4;
  order: 4;
}

.flex-order--n5 {
  -webkit-box-ordinal-group: 6;
  -ms-box-ordinal-group: 6;
  box-ordinal-group: 6;
  -ms-flex-order: 5;
  -webkit-order: 5;
  -ms-order: 5;
  order: 5;
}

.flex-direction--row {
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-direction--row-reverse {
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -ms-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-direction--column {
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-direction--column-reverse {
  -ms-box-orient: vertical;
  box-orient: vertical;
  -ms-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex-h-align--start {
  -ms-box-pack: start;
  box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}

.flex-h-align--end {
  -ms-box-pack: end;
  box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-h-align--center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.flex-h-align--between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.flex-h-align--around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

.flex-wrap--nowrap {
  -ms-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap--wrap {
  -ms-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-v-align--start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.flex-v-align--end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.flex-v-align--center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}

.flex-v-align--between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}

.flex-v-align--around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
}

.flex-v-align--stretch {
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.flex-v-align-items--start {
  -ms-box-align: start;
  box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-v-align-items--end {
  -ms-box-align: end;
  box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-v-align-items--center {
  -ms-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.flex-v-align-items--baseline {
  -ms-box-align: baseline;
  box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
}

.flex-v-align-items--stretch {
  -ms-box-align: stretch;
  box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

@media (min-width: 960px) {
  .flex_between-md {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_between-md_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_between-md_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 768px) {
  .flex_between-sm {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_between-sm_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_between-sm_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 420px) {
  .flex_between-xs {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_between-xs_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_between-xs_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 319px) {
  .flex_between-min {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_between-min_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_between-min_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 960px) {
  .flex_around-md {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_around-md_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_around-md_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 768px) {
  .flex_around-sm {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_around-sm_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_around-sm_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 420px) {
  .flex_around-xs {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_around-xs_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_around-xs_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 319px) {
  .flex_around-min {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_around-min_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_around-min_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 960px) {
  .flex_start-md {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_start-md_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_start-md_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 768px) {
  .flex_start-sm {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_start-sm_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_start-sm_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 420px) {
  .flex_start-xs {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_start-xs_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_start-xs_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 319px) {
  .flex_start-min {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_start-min_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_start-min_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 960px) {
  .flex_end-md {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_end-md_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_end-md_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 768px) {
  .flex_end-sm {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_end-sm_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_end-sm_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 420px) {
  .flex_end-xs {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_end-xs_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_end-xs_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 319px) {
  .flex_end-min {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .flex_end-min_top {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: start;
    box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .flex_end-min_bottom {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-pack: end;
    box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-box-align: end;
    box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}

.block-center {
  margin: 0 auto 0 auto;
  display: block;
}

.block-left {
  margin: 0 0 0 0;
  display: block;
}

.block-right {
  margin: 0 0 0 auto;
  display: block;
}

@media (max-width: 960px) {
  .block_md-center {
    margin: 0 auto 0 auto;
    display: block;
  }

  .block_md-left {
    margin: 0 0 0 0;
    display: block;
  }

  .block_md-right {
    margin: 0 0 0 auto;
    display: block;
  }
}

@media (max-width: 768px) {
  .block_sm-center {
    margin: 0 auto 0 auto;
    display: block;
  }

  .block_sm-left {
    margin: 0 0 0 0;
    display: block;
  }

  .block_sm-right {
    margin: 0 0 0 auto;
    display: block;
  }
}

@media (max-width: 420px) {
  .block_xs-center {
    margin: 0 auto 0 auto;
    display: block;
  }

  .block_xs-left {
    margin: 0 0 0 0;
    display: block;
  }

  .block_xs-right {
    margin: 0 0 0 auto;
    display: block;
  }
}

@media (max-width: 319px) {
  .block_min-center {
    margin: 0 auto 0 auto;
    display: block;
  }

  .block_min-left {
    margin: 0 0 0 0;
    display: block;
  }

  .block_min-right {
    margin: 0 0 0 auto;
    display: block;
  }
}

@font-face {
  font-family: Exo2;
  src: url("../fonts/exo2-bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: Exo2;
  src: url("../fonts/exo2-regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: Exo2;
  src: url("../fonts/exo2-semibold.woff");
  font-weight: 600;
}

.input::-webkit-input-placeholder {
  color: inherit;
}

.input::-moz-placeholder {
  color: inherit;
}

.input:-moz-placeholder {
  color: inherit;
}

.input:-ms-input-placeholder {
  color: inherit;
}

.input_error {
  color: red !important;
  border-color: red !important;
}

.language {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  border: 1px solid white;
  /* border-top: none; */
  border-radius: 3px 3px 3px 3px;
  width: 25px;
  text-align: center;
  padding: 2px 0;
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 110;
  color: white;
  transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

.language:hover {
  color: #00ff90;
  border-color: #00ff90;
}

@media (max-width: 768px) {
  .language {
    right: 62px;
    top: 16px;
  }
}

.menu {
  width: 192px;
  height: 100%;
  background-color: rgba(6, 133, 103, 0.85);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  color: white;
  transform: translateX(127px);
  -webkit-transform: translateX(127px);
  transition: 0.8s all;
  -webkit-transition: 0.8s all;
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
    height: 50px;
    transform: none;
    -webkit-transform: none;
  }
}

.menu__icon {
  width: 65px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin: 30px 0 0 0;
  position: relative;
  z-index: 1;
}

.menu__icon_mobile {
  display: none;
}

@media (max-width: 768px) {
  .menu__icon {
    display: none;
  }

  .menu__icon_mobile {
    display: block;
    margin: 4px 0 0 27px;
  }
}

@media (max-width: 420px) {
  .menu__icon_mobile {
    margin: 0 0 0 15px;
    width: 71px;
  }
}

.menu__icon img {
  display: block;
  margin: 0 auto 5px auto;
}

.menu__icon span {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  opacity: 0;
}

.menu__icon:after {
  content: '';
  height: 32px;
  width: 56px;
  /*66px*/
  position: absolute;
  top: 0;
  right: -70%;
  /*-100%;*/
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url("../image/menu/logo-text-new.svg");
  background-size: 56px 32px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  transition-delay: 0.2s;
}

.menu__btn {
  width: 28px;
  display: none;
  z-index: 1;
  padding: 0;
  position: absolute;
  top: calc(50% - 14px);
  right: 27px;
}

.menu__btn span {
  display: block;
  margin: 4px auto;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

@media (max-width: 768px) {
  .menu__btn {
    display: block;
  }
}

@media (max-width: 420px) {
  .menu__btn {
    right: 15px;
  }
}

.menu__nav {
  text-align: left;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  /* margin-top: 30px; */
}

@media (max-width: 768px) {
  .menu__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(6, 133, 103);
    transform: translateY(-150%);
    transition: 0.25s all;
    -webkit-transition: 0.25s all;
  }
}

.menu__nav li {
  transition: 0.6s all;
  -webkit-transition: 0.6s all;
}

.menu__nav li:nth-of-type(1) {
  transition-delay: 0.16667s;
}

.menu__nav li:nth-of-type(2) {
  transition-delay: 0.33333s;
}

.menu__nav li:nth-of-type(3) {
  transition-delay: 0.5s;
}

.menu__nav li:nth-of-type(4) {
  transition-delay: 0.66667s;
}

.menu__nav li:nth-of-type(5) {
  transition-delay: 0.83333s;
}

.menu__nav li:nth-of-type(6) {
  transition-delay: 1s;
}

.menu__nav li a {
  display: block;
  padding: 6px 15px;
  transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

.menu__nav li a:hover {
  color: #00ff90;
}

.menu__nav li.download {
  margin-top: 20px;
  position: relative;
  z-index: 1;
  padding-left: 18px;
}

.menu__nav li.download:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 15px;
  width: 14px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../image/menu/download.png");
}

@media (max-width: 768px) {
  .menu__nav li.download {
    padding: 0;
  }

  .menu__nav li.download:before {
    display: none;
  }
}

.menu__nav li.download a {
  font-size: 13px;
  font-weight: 400;
}

.menu.active {
  transform: translateX(0px);
  padding: 0 15px;
}

@media (max-width: 768px) {
  .menu.active {
    padding: 0;
  }

  .menu.active .menu__nav {
    transform: translateY(0px);
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }

  .menu.active .menu__btn span:nth-of-type(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu.active .menu__btn span:nth-of-type(2) {
    opacity: 0;
    transform: scale(0);
  }

  .menu.active .menu__btn span:nth-of-type(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.menu:not(.active) .menu__icon span {
  opacity: 1;
}

.menu:not(.active) .menu__icon:after {
  opacity: 0;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
}

.menu:not(.active) .menu__nav li {
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
  opacity: 0;
  transition-delay: 0s;
}

.s1 {
  height: 100vh;
  min-height: 600px;

  /* background-image: url("../image/section1/Gradient2.png"); */
  /* background: linear-gradient(45deg,
      #239087, #3bd063, #3acf96, #3bd063, #8DE345); */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg,
      #239087, #3bd063, #3acf96, #3bd063, #8DE345);
  background-size: 300% 300%;
  animation: gradientAnimation 8s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@media (max-width: 768px) {
  .s1 {
    min-height: 600px;
    height: auto;
    padding: 100px 0;
  }
}

@media (max-width: 420px) {
  .s1 {
    max-height: 777px;
    padding: 50px 0;
    /* background-image: url("../image/section1/Gradient2.png"); */
  }
}

.s1 .header {
  width: 100%;
}

.s1 .heading {
  font-size: 116px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.s1 .heading__p {
  color: white;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .s1 .heading {
    font-size: 64px;
  }

  .s1 .heading__p {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .s1 .heading {
    font-size: 48px;
  }

  .s1 .heading__p {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .s1 .heading {
    font-size: 36px;
  }

  .s1 .heading__p {
    font-size: 12px;
  }
}

.s2 {
  padding-top: 138px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .s2 {
    padding-top: 73px;
    margin-left: 10px;
  }
}

@media (max-width: 420px) {
  .s2 {
    padding-top: 30px;
  }
}

.s2 .text {
  position: relative;
  color: #404040;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  padding-left: 95px;
}

@media (max-width: 768px) {
  .s2 .text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 420px) {
  .s2 .text {
    padding: 0;
  }
}

.s2 .text span {
  font-weight: 700;
}

.s2 .text:before {
  content: '';
  position: absolute;
  top: -16px;
  left: 15px;
  z-index: 1;
  width: 67px;
  height: 68px;
  background-repeat: no-repeat;
  background-image: url("../image/section2/logo_v1.svg");
}

.s2 .text__list {
  margin-top: 40px;
}

.s2 .text__list_item {
  margin-bottom: 30px;
}

.s2 .text__list_item::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 2px;
  z-index: 1;
  width: 67px;
  height: 75px;
  background-repeat: no-repeat;
  background-image: url("../image/section2/done.svg");
}

.affter__mail::after {
  content: "";
  display: inline-block;
  width: 60px;
  /* Размер изображения */
  height: 60px;
  background-image: url('../image/section2/mail.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
  /* Отступ от текста */
  vertical-align: middle;
}

@media (max-width: 420px) {
  .s2 .text:before {
    display: block;
    margin: 0 auto 12px auto;
    position: static;
  }
}

.s3 {
  padding-top: 30px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .s3 {
    padding-top: 25px;
  }
}

@media (max-width: 420px) {
  .s3 {
    padding-top: 20px;
  }
}

.s3 .container {
  display: -webkit-box;
  display: -ms-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 70px auto 0 auto;
}

@media (max-width: 768px) {
  .s3 .container {
    margin: 20px auto 0 auto;
  }
}

@media (max-width: 420px) {
  .s3 .container {
    margin: 22px auto 0 auto;
  }
}

.s3 .left {
  width: 50%;
  padding: 40px 0 0 0;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .s3 .left {
    width: 100%;
  }
}

.s3 .left>ul>li {
  color: #068567;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  z-index: 1;
  padding-left: 80px;
  margin-bottom: 64px;
  cursor: pointer;
}

.s3 .left>ul>li.active,
.s3 .left>ul>li:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {

  .s3 .left>ul>li.active,
  .s3 .left>ul>li:hover {
    text-decoration: none;
    color: #404040;
  }

  .s3 .left>ul>li {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 48px;
  }
}

.s3 .left>ul>li:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.s3 .left>ul>li:nth-of-type(1):before {
  background-image: url("../image/section3/1.png");
}

.s3 .left>ul>li:nth-of-type(2):before {
  background-image: url("../image/section3/2.png");
}

.s3 .left>ul>li:nth-of-type(3):before {
  background-image: url("../image/section3/3.png");
}

.s3 .left>ul>li:nth-of-type(4):before {
  background-image: url("../image/section3/4.png");
}

.s3 .left>ul>li:nth-of-type(5):before {
  background-image: url("../image/section3/5.png");
}

.s3 .left>ul>li:nth-of-type(6):before {
  background-image: url("http://www.dailyprofit.ru/image/section3/6.png");
}

.s3 .left>ul .inner-list {
  display: none;
  margin: 20px 0 0 0;
  cursor: default;
}

@media (max-width: 768px) {
  .s3 .left>ul .inner-list {
    display: block;
  }
}

.s3 .left>ul .inner-list li {
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  z-index: 1;
  padding-left: 10px;
  margin-bottom: 18px;
  cursor: default;
}

@media (max-width: 768px) {
  .s3 .left>ul .inner-list li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.s3 .left>ul .inner-list li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #404040;
}

.s3 .right {
  width: 50%;
  border: 1px solid #d9d9d9;
  padding: 42px 40px 52px 48px;
  position: relative;
  z-index: 1;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

@media (max-width: 768px) {
  .s3 .right {
    display: none;
    width: 100%;
    padding: 32px 29px 28px 29px;
  }
}

@media (max-width: 420px) {
  .s3 .right {
    padding: 26px 29px 28px 29px;
  }
}

.s3 .right .arr {
  position: absolute;
  left: -42px;
  width: 0;
  height: 0;
  border-right: 22px solid #d9d9d9;
  border-top: 14px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 14px solid transparent;
  z-index: -5;
}

@media (max-width: 768px) {
  .s3 .right .arr {
    display: none;
  }
}

.s3 .right:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 20px;
  width: 15px;
  height: 15px;
  border: 1px solid #d9d9d9;
  border-top: none;
  border-right: none;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  z-index: -5;
  background-color: #f2f2f2;
  display: none;
}

@media (max-width: 768px) {
  .s3 .right:before {
    display: block;
  }
}

.s3 .right li {
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  z-index: 1;
  padding-left: 10px;
  margin-bottom: 18px;
}

@media (max-width: 768px) {
  .s3 .right li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.s3 .right li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #404040;
}

.s3 .right .download {
  color: #068567;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  position: relative;
  z-index: 1;
  padding-left: 30px;
  margin: 24px 0 0 0;
}

.s3 .right .download:hover {
  text-decoration: underline;
}

.s3 .right .download:before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url("../image/download.png");
}

.s3 .fade-enter,
.s3 .fade-leave-to {
  display: none;
}

.s4 {
  padding-top: 78px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .s4 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.s4 .container {
  margin: 72px auto 0 auto;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

@media (max-width: 768px) {
  .s4 .container {
    margin: 50px auto 0 auto;
  }
}

.s4 .container div {
  width: 25%;
  margin: 0 0 60px 0;
  font-size: 0;
}

@media (max-width: 768px) {
  .s4 .container div {
    width: 50%;
    margin: 0 0 50px 0;
  }
}

@media (max-width: 420px) {
  .s4 .container div {
    margin: 0 0 24px 0;
  }
}

.s4 .container div img {
  display: block;
  margin: 0 auto;
  max-width: 96%;
}

@media (max-width: 420px) {
  .s4 .container div img {
    max-width: 80%;
  }
}

.s5 {
  padding-top: 66px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .s5 {
    padding-top: 14px;
    padding-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .s5 {
    padding-top: 34px;
  }
}

.s5 .subtitle {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 10px 0 24px 0;
}

@media (max-width: 768px) {
  .s5 .subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 8px 0 42px 0;
  }
}

.s5 .text {
  color: #404040;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 768px) {
  .s5 .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.s6 {
  padding: 0;
  overflow: hidden;
}

.s6 .slide {
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 960px) {
  .s6 .slide {
    height: 530px;
  }
}

@media (max-width: 768px) {
  .s6 .slide {
    height: 400px;
  }
}

@media (max-width: 420px) {
  .s6 .slide {
    height: 200px;
  }
}

.s6 .slide_1 {
  background-image: url("../image/section6/img/1.jpg");
}

.s6 .slide_2 {
  background-image: url("../image/section6/img/2.jpg");
}

.s6 .slide_3 {
  background-image: url("../image/section6/img/3.jpg");
}

.s6 .slide_4 {
  background-image: url("../image/section6/img/4.jpg");
}

.s6 .slide_5 {
  background-image: url("../image/section6/img/5.jpg");
}

.s6 .slide_6 {
  background-image: url("http://www.dailyprofit.ru/image/section6/6.jpg");
}

@media (max-width: 960px) {
  .s6 .slide_1 {
    background-image: url("../image/section6/img/1.jpg");
  }

  .s6 .slide_2 {
    background-image: url("../image/section6/img/2.jpg");
  }

  .s6 .slide_3 {
    background-image: url("../image/section6/img/3.jpg");
  }

  .s6 .slide_4 {
    background-image: url("../image/section6/img/4.jpg");
  }

  .s6 .slide_5 {
    background-image: url("../image/section6/img/5.jpg");
  }

  .s6 .slide_6 {
    background-image: url("http://www.dailyprofit.ru/image/section6/md/6.jpg");
  }
}

.s6 .slick-prev,
.s6 .slick-next {
  position: absolute;
  top: calc(50% - 21px);
  z-index: 1;
  width: 23px;
  height: 42px;
  background-repeat: no-repeat;
  background-image: url("../image/arr.png");
  font-size: 0;
  opacity: 0.5;
  transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

.s6 .slick-prev:hover,
.s6 .slick-next:hover {
  opacity: 1;
}

.s6 .slick-prev.slick-next,
.s6 .slick-next.slick-next {
  right: 116px;
}

@media (max-width: 768px) {

  .s6 .slick-prev.slick-next,
  .s6 .slick-next.slick-next {
    right: 30px;
  }
}

.s6 .slick-prev.slick-prev,
.s6 .slick-next.slick-prev {
  left: 50px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

@media (max-width: 768px) {

  .s6 .slick-prev.slick-prev,
  .s6 .slick-next.slick-prev {
    left: 30px;
  }
}

.s6 .slick-dots {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .s6 .slick-dots {
    bottom: 30px;
  }
}

.s6 .slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}

.s6 .slick-dots li button {
  font-size: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background-color: white;
  border-radius: 50%;
}

.s6 .slick-dots li.slick-active button {
  opacity: 1;
}

@media (max-width: 768px) {
  .footer {
    padding: 0;
  }
}

.footer .container {
  width: 50%;
  padding: 88px 0 30px 0;
}

@media (max-width: 768px) {
  .footer .container {
    width: 100%;
    padding: 50px 27px 28px 27px;
  }
}

@media (max-width: 420px) {
  .footer .container {
    width: 100%;
    padding: 50px 15px 28px 15px;
  }
}

.footer .title {
  text-align: left;
}

@media (max-width: 768px) {
  .footer .title br {
    display: none;
  }
}

.footer .items {
  margin: 62px 0 0 0;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-box-pack: start;
  box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .footer .items {
    margin: 50px 0 0 0;
  }
}

.footer .items .item {
  color: #068567;
  font-size: 18px;
  line-height: 28px;
  width: 100%;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .footer .items .item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}

.footer .items .item:nth-of-type(1),
.footer .items .item:nth-of-type(2) {
  width: 50%;
}

.footer .items .heading {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer .items .text {
  color: #404040;
  font-weight: 400;
}

.footer .social {
  margin: 10px 0 0 0;
}

@media (max-width: 420px) {
  .footer .social {
    margin: 2px 0 0 0;
  }
}

.footer .social a {
  width: 40px;
  height: 40px;
  border: 1px solid #068567;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

.footer .social a svg {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
}

.footer .social a svg path {
  transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

.footer .social a:hover {
  background-color: #068567;
}

.footer .social a:hover path {
  fill: white;
}

.footer #map {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
}

@media (max-width: 768px) {
  .footer #map {
    width: 100%;
    position: static;
    height: 350px;
  }
}

@media (max-width: 420px) {
  .footer #map {
    height: 150px;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: Exo2;
  background-color: #f2f2f2;
  opacity: 1 !important;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.wrapper-all {
  width: 100%;
  overflow: hidden;
  min-width: 319px;
  transition: 1s all;
  -webkit-transition: 1s all;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a,
img,
ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

header,
section,
footer {
  width: 100%;
  min-width: 319px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 70px;
}

@media (max-width: 768px) {

  header,
  section,
  footer {
    padding: 0 27px;
  }
}

@media (max-width: 420px) {

  header,
  section,
  footer {
    padding: 0 25px;
  }
}

textarea,
button,
input {
  position: relative;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 0;
}

button {
  cursor: pointer;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.col-m {
  display: inline-block;
  vertical-align: middle;
}

.title {
  color: #068567;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  text-align: start;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 36px;
  }
}

[v-cloak] {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */

.menu__icon_mobile {
  width: 35px;
  margin-top: 15px;
}